@import "_mixins.less";

/* =============================================================================
   MAIN LAYOUT
   ========================================================================== */
.wrapper {
  margin: 0 auto 0;
  width: 1060px;
  position:relative;
}
.content {margin-top: -95px;}
.content section {}

/* =============================================================================
   BASIC STYLES
   ========================================================================== */
h2, h3, h4 {
  font-size: 5em;
  font-weight: normal;
  margin-bottom:.4em;
  letter-spacing: -.02em;
}
h3 {font-size: 4em;}
h4 {font-size:3em;}
p {
  font-size:1.6em;
  line-height:1.6em;
  margin-bottom: 1.4em;
}
.photo {
  max-width:100%;
  position:relative;
  top:-1px;
}

/* =============================================================================
   NAVIGATION
   ========================================================================== */
nav {
  padding:15px 0;
  position: fixed;
  width: 100%;
  z-index: 10;
}
.nav-item {
  display: inline-block;
  margin-right:15px;
}
.nav-link {font-size: 1.4em;}

/* =============================================================================
   HEADER
   ========================================================================== */
.header {
  position: relative;
}
.logo-name {
  margin-bottom: 0;
  font-size: 10em;
  letter-spacing: -.04em;
}
.tagline {
  margin-bottom:50px;
  font-size: 2em;
  letter-spacing: -.02em;
}
.call-action-area .price {
  font-size:4em;
  vertical-align: center;
  margin-right:20px;
}
.call-action-area .call-action-link, .btn {
  position:relative;
  top:-5px;
  cursor: pointer;
  display: inline-block;
  padding: 15px 30px;
  font-size:2em;
  line-height:1em;
  vertical-align: center;
  letter-spacing: -.02em;
  .transition(all 0.3s ease-out);
}
.call-action-area .call-action-link:hover, .call-action-area .call-action-link:focus, .btn:hover, .btn:focus {top:0;}

/* =============================================================================
   ABOUT
   ========================================================================== */
.about {
  padding: 0;
  margin: 0;
  display: table;
}

.about-col{
    display: table-cell;
    margin: 0;
    vertical-align: top;
    &.left{
        width: 55%;

    }
    &.right{
        width: 45%;
        padding-left: 5%;
    }
}

.embed-container, .fb-like-box {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin-bottom: 20px;
    iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/* =============================================================================
   SPEAKER
   ========================================================================== */
/*.speakers-item {
  position:relative;
  min-height:180px;
  padding-left: 180px;
  margin-bottom:30px;
  border-bottom:1px dashed #e7e7e7;
}
.speaker-photo {
  position:absolute;
  top:0;
  left:0;
  display: block;
  width: 120px;
  height: 120px;
}
.speech-title {
  padding-top:10px;
  font-size:2em;
  margin-bottom:1em;
}
.speech-time {
  font-size:18px;
  padding: 10px 15px;
  letter-spacing:-.03em;
}
.speakers-name{font-size:1.6em;}
.speakers-item p {font-size:1.4em;}*/


/* =============================================================================
   SPONSORS  and  PARTNERS
   ========================================================================== */


/* =============================================================================
   CONTATO
   ========================================================================== */
.form label{
  font-size:16px;
  display: block;
  margin-bottom:.5em;
}
.control-group {
  height:auto;
  clear:both;
  margin-bottom:20px;
}
.control-group-name, .control-group-email {
  clear:none;
  width:467px;
  float:left;
  margin-right:25px;
}
.control-group-email {margin-right:0;}
.form input[type=text], .form input[type=email], .form textarea{
  .box-sizing(border-box);
  display: block;
  width:100%;
  min-height:15px;
  padding:10px;
  font-size:14px;
}
.form textarea {height:300px;}
.form .btn {float:right;}

/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width : 1024px) {
  .wrapper {
    width: 100%;
    padding: 0 20px;
    .box-sizing(border-box);
  }
  .about {margin: 0;}

}

@media only screen and (min-width:320px) and (max-width: 800px) {

h2 {font-size: 4em;}
h3 {font-size: 3em;}
h4 {font-size: 2em;}

  /* partners */
  .sponsor-item, .partner-item {margin: 0 5px 10px 0;}
  .sponsor-link, .partner-link {
    width: 95px;
    height:95px;
    line-height: 95px;
  }

  /* contact */
  .control-group-name, .control-group-email {
    clear:both;
    width:100%;
    float:none;
    margin-right:0;
  }
  .form .btn {margin-bottom:50px;}
}

@media only screen and (max-width : 480px) {

  h2, h3, h4 {font-size: 3em;}
  h3 {font-size: 2em;}
  h4 {font-size:1.8em;}
  p {font-size:1.4em;}

  /* content */
  .content {padding: 0;}
  .content section {}

  /* speakers */
  .speakers-item {
    min-height:70px;
    padding-left: 70px;
  }
  .speaker-photo {
    width: 50px;
    height: 50px;
  }
  .speech-title {
    padding-top:0;
    font-size:16px;
    margin-bottom:.3em;
  }
  .speech-time {
    font-size:16px;
    padding: 0;
  }
  .speakers-bio {display: none;}
}

@media only screen and (max-width : 321px) {

  /* partners */
  .sponsor-item, .partner-item {margin: 0 12px 15px 0;}
  .sponsor-link, .partner-link {
    width: 115px;
    height:115px;
    line-height: 115px;
  }
}